.displayCard__container {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 1.5em;
    gap: 1.3em;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .displayCard__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .displayCard__title {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
  }
  
  .displayCard__price {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .displayCard__characteristics {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.2rem;
    line-height: 0.8rem;
    background: #dddddd;
    padding: 1.6em;
    border-radius: 10px;
    margin-top: 1.5em;
  }
  
  .displayCard__image__container {
    width: 100%;
    height: 200px;
    background-color: #fafafa;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .displayCard__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center;
  }
  
  .displayCard__button {
    --primary-color: #111;
    --hovered-color: #c84747;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    gap: 0.5rem;
    align-items: center;
  }
  
  .displayCard__button .displayCard__buttonText {
    margin: 0;
    position: relative;
    font-size: 20px;
    color: var(--primary-color)
  }
  
  .displayCard__button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
  }
  
  .displayCard__button .displayCard__buttonText::before {
    position: absolute;
    content: "Subscribe";
    width: 0%;
    inset: 0;
    color: var(--hovered-color);
    overflow: hidden;
    transition: 0.3s ease-out;
  }
  
  .displayCard__button:hover::after {
    width: 100%;
  }
  
  .displayCard__button:hover .displayCard__buttonText::before {
    width: 100%;
  }