.searchInput {
  min-width: 250px;
}

.searchBoxComponent {
  margin-bottom: 2em;
}

.formContainer {
  display: flex;
  gap: 5em;
  justify-content: center;
  height: 150px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: #1890ff;
  width: 100%;
}
.operationRadioGroup {
  z-index: 1;
}

.formGroup {
  display: flex;
  gap: 1.3em;
}

.select {
  width: 120px;
}

.buttonForm {
  width: 25%;
}