.cardCharacteristics {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-weight: 600;
  flex-wrap: wrap;
  background-color: #dfdfdf;
  padding: 1em;
  border-radius: 0.5em;
}

.characteristics {
  padding: 0.6em;
}
