.cardContainer {
  width: 350px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  white-space: nowrap;
}

.headerSubtitle {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 0;
}

.headerTitle {
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px;
}

.cardPrice {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 0;
}

.cardSquareMeters {
  text-align: center;
  font-size: 2em;
}
