html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
ol,
li {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}